    * {
    margin: 0;
    padding: 0;
}

/*bodybackground image*/
body {
    background-image: url(../img/nn.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* start*/
.headerwrapper {
    min-height: 100px;
    width: 93%;
    background-color: ;
    margin: 20px auto;
    overflow: hidden;
    
}
.headerlogo { width: 8%;
float: left;
overflow: hidden;
}

.headerlogo_two {
    width:30%;
    float: left;
    margin-top: 9px;
    
}

/* start*/
.nav {
    width: 60%;
    float: left;
    min-height: 50px;
    background-color: ;
    margin-top: 36px;
    overflow: hidden;
}
.nav ul {
    float: left;
}
.nav ul li {
    float: left;
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    padding:15px 25px ;
    display: block;
    margin-top: ;
    color: white;
    transition: .5s;
}

.nav ul li a:hover{
color: black;
}
/* start*/
.banner { width: 93%;
    background-image: url(../img/nn.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    
}
.bannerwrapper{
width:  40%;
    padding: 100px 0;
}

.bannercontent {
    
    color: white;
    opacity: .8;
    background-color: black;
}

.bannercontent h2{ 
        font-size: 50px;
    color: #154979;
}
.bannercontent h1{ 
    font-size: 50px;
    color: #FCFCFC;
    
}
.bannercontent p{
    font-size: 29px;
    
}
.bannercontent button{
    font-size: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    background-color: #3C7095;
}
.bannercontent button:hover{
    color: black;
    background-color: white;
}
/* start*/
.content {
    overflow: hidden;
    background-color: ;
    width: ;
    margin: 0 auto;
}
.contentwrapper {
    width: 93%;
    overflow: hidden;
    margin: 0 auto;
    min-height: 300px;
    background-color: white;
}
.contentsingle {
    width: 26%;
    margin: 23px 45px;
    float: left;
   
    min-height: ;
}
.contentsingle h1{
    font-size: 30px;
    text-align: center;
    color: #235681;
}
.contentsingle img{
    height: 150px;
        width: 100%;
    margin: 20px 0;
}
.contentsingle p{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}
.contentsingle button{
 padding: 10px 30px;
    margin-left: 115px;
    margin-top: 15px;
}
.contentsingle button:hover{
    background-color: coral;
}
/* start*/
.footer {
    width: 93%;
    overflow: hidden;
    min-height: ;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 47px;
}
.footercontent{
    width: 50%;
    overflow: hidden;
    min-height: 200px;
    margin: 0 auto;
}
.copyright {
    margin: 0 auto;
    width:75%;
    min-height: 50px;
    margin-top: 20px;
    margin-left: 110px;
    
}
.p_one {
    
}
.p_two {
    margin-left: 45px;
    margin-top: 20px;
}
}
.social{
    width: 75%;
    min-height: 70px;
    float: left;
}
.social {
    
}
.footerlogo {
    margin-left: 200px;
    margin-top: 25px;
}
/*end*/